/********** Base styles **********/
* {
  box-sizing: border-box;
}

.boldText {
  font-weight:bold;
}

.headerMargin {
  margin-bottom: 80px;
  margin-top: 50px;
}

.oneThird {
	width: 33%;
	float: right;
}

.clearRight {
	clear: right;
}

.textCenter {
  text-align: center;
}

.grayColor {
  background-color: gray;
  margin: 10px; 
  border: 2px solid black;
}

.pinkColor {
  background-color: #F08080;
}

.redColor {
  background-color: red;
}

.yellowColor {
  background-color: #FAFAD2;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

.thirdWidth {
	  width: 33.33%;
  }

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    width: 33.33%;
	float: left;
  }
  .grayColor {
	background-color: gray;
	margin: 10px; 
	border: 2px solid black;
	min-height: 310px;
  }  
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
  .thirdWidth {
	  width: 16.67%;
  }
  .grayColor {
	background-color: gray;
	margin: 10px; 
	border: 2px solid black;
	min-height: 180px;
  }
}